<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://anomey.ch/core/module"
	id="net.tales.duckling.ugly" version="0.1">
	<require>
		<module version="0.1">ch.anomey.processor</module>
	</require>
	<extension xmlns="http://anomey.ch/core/processor">
		UglyDuckingProcessor
	</extension>
</module>