<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://anomey.ch/core/module" id="ch.anomey.test"
	version="0.1">
	<require>
		<module version="0.1">ch.anomey.security</module>
		<module version="0.1">ch.anomey.view.example</module>
	</require>
	<class>AnomeyTestModule</class>
	<extension xmlns="http://anomey.ch/controller/actions">
		<action pattern="^product/(\d+)$">SomeActionClass</action>
	</extension>
</module>
